
#pimage {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imagepos {
    position: relative;

}

.linktext {
    position: absolute;
    bottom: 10%;
    border: solid green;
    background-color: white;
    color: black;
    width: 200px;
    text-align: center;    
}

.nav-text-color {
    color: black;
}

.nav-link {
    color:black
}

.relativeimage {
    display: flex;
    justify-content: center;
}

.vhadjust {
    /* height: 100vh; */
    margin-top: 60px;
    padding-top: 30px;
    /* padding-top: 80px; */
}


.adjustfooter {
position:fixed;
bottom: 0;
left: 0;
width: 100%;
background-color: darkblue;
color: white;
text-align: center;

}

.bkgrdcolor {

    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,15,121,0.6227533249627977) 58%, rgba(0,212,255,1) 100%);

}


#portboard {

color: lightyellow;

}


hr {
    background-color: lightgoldenrodyellow;
    

}

#hrmarginadjust {

    margin-right: 2vh;
    margin-left: 2vh;

}

.prime-content {
    margin-top: 30px;
}


.bg-custom{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(223,70,0,1) 58%, rgba(236,240,52,1) 100%);
    height: 60px; 
}

.profile-img {
    margin-left: 5%;
    margin-right: 5%;
}

.description-box {
    background-color: rgba(31, 30, 30, 0.644);
    padding-top: 2vh;
    border-radius: 15px;
    margin-bottom: 10vh;
    margin-right: 5%;
    padding-bottom: 2vh;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .hrclass {
    background-color: purple;
    width: 60%;
    opacity: 60%;
    /* height: 12px; */
    border-top: 1px solid black
  }
